@charset "utf-8";
/* CSS Document für die Gerichte in Kamerun */

.h_img{
	width: 100%;/**/
	height: 500px;
	object-fit:scale-down;
	padding-left: 50px;
	padding-right: 50px;
}

.k_title{
	text-align: center;
	color: #C4BE1D;
}

.img_c{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper{
	background-color: #FFFFFF;
}

.a_text{
	padding-left: 100px;
	padding-right: 100px;
}
