@charset "utf-8";
/* CSS Document für Kultur in Kamerun*/

.navigation{
	background-color: #FFFFFF;
}

.a_imgK{
	display: flex;
	justify-content: space-around;
}

.a_img1{
	width: 600px;
	height: 600px;
	padding-left: 80px;
	margin-top: 5px;
}

.a_img2{
	width: 600px;
	height: 600px;

	padding-right: 80px;
	margin-top: 5px;
}

.title1{
	color: #000000;
	text-align: center;
	font-size: 30px;
}

