@charset "utf-8";
/* CSS Document für Natur */

*{box-sizing: border-box;}

img{
	width: 700px;
	/*height: auto;*/
	height: 700px;
	margin: 5px;
	border: 6px double black;
}
body{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.headline1{
	text-align: center;
	font-size: 30px;
	color:#283490;
}

.wrapper{
	background-color: #FFFFFF;
}

.a_text{
	padding-left: 350px;
	padding-right: 350px;
}
