@charset "utf-8";
/* CSS Document für Reisetipps Kamerun*/

.wrapper{
	background-color: #FFFFFF;
}

.h_image{
	width: 200px;
	height: 200px;
}

.h_image, .text_x{
	padding-left: 350px;
	padding-right: 350px;
}
